<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Appointment
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet m-portlet--rounded">
                <div class="m-portlet__head m--bg-focus">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text  m--font-inverse-primary">
                                Appointment List
                                <small>
                                    <!--portlet sub title-->
                                </small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-section">
                        <span class="m-section__sub">
                            Filter
                        </span>
                        <div class="m-section__content">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="m-widget13">
                                        <div class="m-widget13__item">
                                            <span class="m-widget13__desc m--align-right">
                                                Company Name
                                            </span>
                                            <span class="m-widget13__text m-widget13__text-bolder">
                                                Stuad Deportive
                                            </span>
                                        </div>
                                        <div class="m-widget13__item">
                                            <span class="m-widget13__desc m--align-right">
                                                Anual Taxes:
                                            </span>
                                            <span class="m-widget13__text m-widget13__text-bolder">
                                                $520,000
                                            </span>
                                        </div>
                                        <div class="m-widget13__item">
                                            <span class="m-widget13__desc m--align-right">
                                                Business Description:
                                            </span>
                                            <span class="m-widget13__text">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            </span>
                                        </div>
                                        <div class="m-widget13__item">
                                            <span class="m-widget13__desc m--align-right">
                                                Employee Amount:
                                            </span>
                                            <span class="m-widget13__text m-widget13__text-bolder">
                                                1,300
                                            </span>
                                        </div>
                                        <div class="m-widget13__item">
                                            <span class="m-widget13__desc m--align-right">
                                                Emal:
                                            </span>
                                            <span class="m-widget13__text">
                                                supporet@keenthemes.com
                                            </span>
                                        </div>
                                        <div class="m-widget13__item">
                                            <span class="m-widget13__desc m--align-right">
                                                Phone:
                                            </span>
                                            <span class="m-widget13__text m-widget13__number-bolder m--font-brand">
                                                (0) 123 456 78 90
                                            </span>
                                        </div>
                                        <!--<div class="m-widget13__action m--align-right">
                                            <button class="m-widget__detalis  btn m-btn--pill  btn-accent" type="button">
                                                Detalis
                                            </button>
                                            <button class="btn m-btn--pill    btn-secondary" type="button">
                                                Update
                                            </button>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="m-widget13">
                                        <div class="m-widget13__item">
                                            <span class="m-widget13__desc m--align-right">
                                                Company Name
                                            </span>
                                            <span class="m-widget13__text m-widget13__text-bolder">
                                                Stuad Deportive
                                            </span>
                                        </div>
                                        <div class="m-widget13__item">
                                            <span class="m-widget13__desc m--align-right">
                                                Anual Taxes:
                                            </span>
                                            <span class="m-widget13__text m-widget13__text-bolder">
                                                $520,000
                                            </span>
                                        </div>
                                        <div class="m-widget13__item">
                                            <span class="m-widget13__desc m--align-right">
                                                Business Description:
                                            </span>
                                            <span class="m-widget13__text">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            </span>
                                        </div>
                                        <div class="m-widget13__item">
                                            <span class="m-widget13__desc m--align-right">
                                                Employee Amount:
                                            </span>
                                            <span class="m-widget13__text m-widget13__text-bolder">
                                                1,300
                                            </span>
                                        </div>
                                        <div class="m-widget13__item">
                                            <span class="m-widget13__desc m--align-right">
                                                Emal:
                                            </span>
                                            <span class="m-widget13__text">
                                                supporet@keenthemes.com
                                            </span>
                                        </div>
                                        <div class="m-widget13__item">
                                            <span class="m-widget13__desc m--align-right">
                                                Phone:
                                            </span>
                                            <span class="m-widget13__text m-widget13__number-bolder m--font-brand">
                                                (0) 123 456 78 90
                                            </span>
                                        </div>
                                        <!--<div class="m-widget13__action m--align-right">
                                            <button class="m-widget__detalis  btn m-btn--pill  btn-accent" type="button">
                                                Detalis
                                            </button>
                                            <button class="btn m-btn--pill    btn-secondary" type="button">
                                                Update
                                            </button>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
