<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Setup
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <!--Begin::Main Portlet-->
    <div class="m-portlet  m-portlet--rounded">
        <!--begin: Portlet Head-->
        <div class="m-portlet__head m--bg-focus">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text  m--font-inverse-primary">
                        Location
                        <small>
                            <!--portlet sub title-->
                        </small>
                    </h3>
                </div>
            </div>
        </div>
        <!--end: Portlet Head-->
        <div class="m-portlet__body">
            <div class="m-portlet m-portlet--full-height m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    General
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
                                    Settings
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
                                    Business Hours
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_4" role="tab">
                                    Room
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_5" role="tab">
                                    Room Availability
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="m_user_profile_tab_1">
                        <form class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group m--margin-top-10 m--hide">
                                    <div class="alert m-alert m-alert--default" role="alert">

                                    </div>
                                </div>

                                <!--<div class="form-group m-form__group row">
                                    <div class="col-10 ml-auto">
                                        <h3 class="m-form__section">2. Address</h3>
                                    </div>
                                </div>-->

                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Name</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Description</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="email">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Contact No.</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="">
                                    </div>
                                </div>

                                <!--<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>-->
                                <!--<div class="form-group m-form__group row">
                                    <div class="col-10 ml-auto">
                                        <h3 class="m-form__section">2. Address</h3>
                                    </div>
                                </div>-->

                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Address</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">City</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">State</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Postcode</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-7">
                                            <button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">Save changes</button>&nbsp;&nbsp;
                                            <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane " id="m_user_profile_tab_2">
                        <form class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group m--margin-top-10 m--hide">
                                    <div class="alert m-alert m-alert--default" role="alert">

                                    </div>
                                </div>

                                <!--<div class="form-group m-form__group row">
                                    <div class="col-10 ml-auto">
                                        <h3 class="m-form__section">2. Address</h3>
                                    </div>
                                </div>-->
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Appointment Interval</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text">
                                        Minutes
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Concurrent limit</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Reservation Advance Range</label>
                                    <div class="col-3">
                                        Min:
                                        <input class="form-control m-input" type="email">
                                        <select class="form-control m-input">
                                            <option>Minutes</option>
                                            <option>Days</option>
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        Max:
                                        <input class="form-control m-input" type="email">
                                        <select class="form-control m-input">
                                            <option>Minutes</option>
                                            <option>Days</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Rescheduling deadline:</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="">
                                        Hours
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Cancellation deadline:</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="">
                                        Hours
                                    </div>
                                </div>

                                <!--<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>-->
                                <!--<div class="form-group m-form__group row">
                                    <div class="col-10 ml-auto">
                                        <h3 class="m-form__section">2. Address</h3>
                                    </div>
                                </div>-->
                            </div>

                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-7">
                                            <button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">Save changes</button>&nbsp;&nbsp;
                                            <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane " id="m_user_profile_tab_3">
                        <form class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <div class="table-responsive">
                                        <table class="table m-table">
                                            <thead>
                                                <tr>
                                                    <th>Day</th>
                                                    <th>Operation Hour</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Monday</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Tuesday</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Wednesday</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Thursday</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Friday</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Saturday</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Sunday</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-7">
                                            <button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">Save changes</button>&nbsp;&nbsp;
                                            <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane " id="m_user_profile_tab_4">
                        <form class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group m--margin-top-10 m--hide">
                                    <div class="alert m-alert m-alert--default" role="alert">

                                    </div>
                                </div>

                                <!--<div class="form-group m-form__group row">
            <div class="col-10 ml-auto">
                <h3 class="m-form__section">2. Address</h3>
            </div>
        </div>-->
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Name</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Package</label>
                                    <div class="col-7">
                                        <div class="m-checkbox-list">
                                            <label class="m-checkbox">
                                                <input type="checkbox">
                                                2D Detail Scan
                                                <span></span>
                                            </label>
                                            <label class="m-checkbox">
                                                <input type="checkbox">
                                                3D Scan
                                                <span></span>
                                            </label>
                                            <label class="m-checkbox">
                                                <input type="checkbox">
                                                5D Scan
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Status</label>
                                    <div class="col-7">
                                        <select class="form-control m-input">
                                            <option>Open</option>
                                            <option>Closed</option>
                                        </select>
                                    </div>
                                </div>
                                <!--<div class="form-group m-form__group row">
            <div class="table-responsive">
                <table class="table m-table">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Operation Hour</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Monday</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Thursday</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Sunday</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>-->
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-7">
                                            <button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">Save changes</button>&nbsp;&nbsp;
                                            <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane " id="m_user_profile_tab_5">
                        <form class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group m--margin-top-10 m--hide">
                                    <div class="alert m-alert m-alert--default" role="alert">

                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Room</label>
                                    <div class="col-7">
                                        <select class="form-control m-input">
                                            <option>Room 1</option>
                                            <option>Room 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <br /><br />
                                    <div class="table-responsive">
                                        <table class="table m-table">
                                            <thead>
                                                <tr>
                                                    <th>Time</th>
                                                    <th>Monday</th>
                                                    <th>Tuesday</th>
                                                    <th>Wednesday</th>
                                                    <th>Thursday</th>
                                                    <th>Friday</th>
                                                    <th>Saturday</th>
                                                    <th>Sunday</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>08:00 AM</td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>08:20 AM</td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>08:40 AM</td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>09:00 AM</td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox">
                                                                <input type="checkbox">

                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-7">
                                            <button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">Save changes</button>&nbsp;&nbsp;
                                            <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End::Main Portlet-->
</div>
