<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                {{title1}}
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet m-portlet--rounded">
                <div class="m-portlet__head m--bg-focus">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text  m--font-inverse-primary">
                                {{title2}}
                                <small>
                                    <!--portlet sub title-->
                                </small>
                            </h3>
                        </div>
                    </div>
                    <!--<div class="" style="text-align: right; margin-top:20px">
                        <div class="m-button-tbl-sel">
                            <div class="btn-group m-btn-group" role="group" aria-label="...">
                                <button type="button" class="btn {{styleTypeViewAll}}" [routerLink]="['../all']">
                                    All
                                </button>
                                <button type="button" class="btn {{styleTypeViewAct}}" [routerLink]="['../active']">
                                    Active
                                </button>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="m-portlet__body">
                    <div class="m-section">
                        <!-- <div class="row">
                            <div class="col-12 col-md-8">
                            </div>
                            <div class="col-6 col-md-4">                                
                                <input class="form-control form-control-md" name="term" [(ngModel)]="term" placeholder="Search Name">
                            </div>
                        </div> -->
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>#</th>
                                        <th>Position</th>
                                        <th>Location</th>
                                        <th>Company</th>
                                        <th>Start</th>
                                        <th>End</th>
                                        <th *ngIf="showAct">Action</th>
                                    </tr>
                                    <tr *ngIf="showFilter">
                                        <th></th>
                                        <th>
                                            <input class="form-control form-control-sm" name="termPos" [(ngModel)]="termPos">
                                        </th>
                                        <th>
                                            <input class="form-control form-control-sm" name="termLoc" [(ngModel)]="termLoc">
                                        </th>
                                        <th>
                                            <input class="form-control form-control-sm" name="termComp" [(ngModel)]="termComp">
                                        </th>
                                        <th></th>
                                        <th></th>
                                        <th *ngIf="showAct"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of data2 | filter : termPos: termLoc: termComp | sortBy: 'position' ;let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{item.pos | uppercase }}
                                            <button type="button" class="btn btn-sm m-btn--pill btn-success" *ngIf="item.strAppBtn">Applied</button>
                                        </td>
                                        <td>{{item.loc | uppercase }}</td>
                                        <td>{{item.comp | uppercase }}</td>
                                        <td>{{item.start | date:'dd/MMM/yyyy'}} </td>
                                        <td>{{item.close | date:'dd/MMM/yyyy'}} </td>
                                        <td *ngIf="showAct">
                                            <div class="btn-group">
                                                <a href="javascript:;" [routerLink]="[item.jDLink,item.idx]" class="btn btn-xs" title="Details">
                                                    <i class="flaticon-information"></i>
                                                </a>
                                                <a href="javascript:;" [routerLink]="['../detail',item.pos_id]" class="btn btn-xs" title="Apply" *ngIf="item.appBtn">
                                                    <i class="flaticon-paper-plane"></i>
                                                </a> 
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>